body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.search-icon{
    margin: 100px;
}

.search-container{
    width: 100%;
    max-width: 400px;
    background: rgba(255, 94, 0, 0.2);
    display: flex;
    margin-top: 30px ;
    margin-left: 400px;
    border-radius: 60px;
    padding: 10px 15px;

}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 0px 10px;
    font-size: 20px;
    color: #f6760d;
}
::placeholder{
    color: #a85d24;
}
.search-bar button {
    background: #f98901;
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    position: relative;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    line-height: 50px;

}
.header{
    width: 100%;
    height: 100vh;
    
}
.side-nav{
    width: 250px;
    height: 100%;
    background: #f6760d;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 30px;
}
.logo{
    display: block;
    margin-bottom: 10px;
}
.logo-img {
    width: 80px;
    margin-left: 100px;
}
.logo-icon {
    width: 45px;
    display: none;

}
.nav-links{
    list-style: none;
    position: relative;  
}
.nav-links li{
    padding: 10px 0px;
}
.nav-links li a {
    color: #f4f4f4;
    text-decoration: none;
    padding: 10px 0px;
    display: flex;
    align-items: center;
}
.nav-links li a i {
    font-size: 22px;
    margin-right: 20px;
}
.active{
    background: #ffffff;
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 4%;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4);
    display: none;
    transition: top 0.5s;
}
.nav-links li:hover a{
    color: #f6760d;
    transition: 0.3s;
}
.nav-links li:hover ~ .active {
    display: block;
}
.nav-links li:nth-child(1):hover ~ .active{
    top: 4%;
}
.nav-links li:nth-child(2):hover ~ .active{
    top: 20.5%;
}
.nav-links li:nth-child(3):hover ~ .active{
    top: 37%;
}
.nav-links li:nth-child(4):hover ~ .active{
    top: 54%;
}
.nav-links li:nth-child(5):hover ~ .active{
    top: 70.4%;
}
.nav-links li:nth-child(6):hover ~ .active{
    top: 87%;
}
@media only screen and (max-width: 600px) {
    .side-nav{
        width: 80px;
    }
    .logo-icon {
        display: block;
    }
    .logo-img {
        display: none;
    }
    .nav-links li a p {
        display: none;
    }
    .nav-links li a i {
       margin-right: 0; 
    }
    .nav-links li a {
      justify-content: center;  
    }
}

.create-competition-btn{
    margin: 60px 0px 50px 350px;
    background: #f6760d;
    width: fit-content;
}

.search-competition-container {
    margin: 100px  500px;
}
