.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .goback-button a {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .container-form {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    margin-top: 50px;
    border-radius: 50px;
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  5px 5px 13px #e3e3e3,
                 -5px -5px 13px #ffffff;
    height: 800px;
    text-align: center;
  }

  #profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .sign-in-header {
    margin-top: 10px;
    font-weight: 900;
    font-size: 1.8rem;
    color: #6c6c6c;
    letter-spacing: 1px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .sign-in-button {
    margin-top: 1rem;
  }

  .sign-up-button {
    margin-top: 1rem;
  }
  
  .error {
    color: red;
    margin-top: 1rem;
  }
  
  .forgot-username-password {
    margin-top: 1rem;
    text-align: center;
  }
  
  .forgot-username-password a {
    color: #007bff;
    text-decoration: none;
  }
  
  .forgot-username-password a:hover {
    text-decoration: underline;
  }
  
  
  button[type="submit"] {
    width: 70%;
    background-color: #e46b00;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #ff7700;
  }
  
  .goback-button {
    margin-top: 20px;
  }

  .link-container {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
  }
  
  .error-message {
    color: red;
    margin-top: 1rem;
}
